body{
    background-color: black;
    color: white;
    font-family: Arial;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: bigger;

}

input {
    padding: 10px;

}

button {
    padding: 10px;

}

