* {
    box-sizing: border-box;
}



body{
    --glow: #7a00ff;
    min-height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 35px;

    background: linear-gradient(135deg, #020012, #16002e, #23004d, #050014);
    background-size: 400% 400%;
    animation: nyxBackground 12s ease infinite;
    transition:
        background 5s ease,
        color 5s ease;

}
@keyframes nyxBackground{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

input {
    padding: 10px;

}
#chatBox {
    width: 600px;
    height: 500px;
    overflow-y: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #0f0f1f;
    border: 1px solid var(--glow);
    border-radius: 20px;
    box-shadow: 0 0 20px var(--glow);
     transition:
        border-color 5s ease,
        box-shadow 5s ease;
}

.message{
    padding: 12px;
    margin: 10px;
    border-radius: 15px;
    text-align: left;
    display: block;
    width: fit-content;

}
.userMessage{
    background-color: blue;
    margin-right: 80px;
    max-width: 70%;
}
.nyxMessage {
    background-color: #2d1b69;
    margin-left: 80px;

    white-space: pre-line;
}
button {
    padding: 10px;

}
#statusBar{
    margin: 15px;
    padding: 10px 15px;
    border: 1px solid var(--glow);
    border-radius: 20px;
    display: inline-block;
    background-color: rgba(20, 20, 40, 0.7);
    box-shadow: 0 0 15px var(--glow);
    font-size: 16px;
    transition:
        border-color 5s ease,
        box-shadow 5s ease;
}

.normalMood {
    --glow: #7a00ff;
    

}

.memoryMood{

    --glow: #ff00cc;
}

.helperMood{

    --glow: #00ff88;
}

.friendlyMood{

    --glow: #ffcc00;
    
}

.systemMood{

    --glow: #00aaff;
}

body.systemMood{
    background: linear-gradient(135deg, #000814, #001d3d, #003566, #000814);
    background-size: 400% 400%;
    animation: nyxBackground 12s ease infinite;
}
body.normalMood{
    background: linear-gradient(135deg, #020012, #16002e, #23004d, #050014);
    background-size: 400% 400%;
    animation: nyxBackground 12s ease infinite;


}

body.friendlyMood{
    background: linear-gradient(135deg, #080500, #1a1100, #2b1b00, #050200);
    background-size: 400% 400%;
    animation: nyxBackground 12s ease infinite;
}

body.helperMood{
     background: linear-gradient(135deg, #001008, #002417, #003322, #00120b);
     background-size: 400% 400%;
     animation: nyxBackground 12s ease infinite;
}

body.memoryMood {
 background: linear-gradient(135deg, #14000f, #241018, #40002b, #12000c);
 background-size: 400% 400%;
     animation: nyxBackground 12s ease infinite;
}